
body{
  margin:0;
  /* width: 90%; */
}

.topg{
    
    width: 100%;
    height:10vh;
    top: 10px;
    background-color:grey;
    

    
}

.topg span{
color: aqua;
}

.topg i{
color: #fff;
}


.top-begin{
    position: absolute;
    top: 20px;
    left: 0;
margin-left: 50px;
justify-content: space-between; 


}

.top-begin a:not(:last-child){
    border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}

.icons-top{
  font-size: 15px;
    position: absolute;
    top: 20px;
    right: 0;
margin-right: 50px;
justify-content: space-between;
}
a{
    text-decoration: none;
    }
    

.icons-top a:not(:last-child){
    border-right: 1px solid black;
  padding-right: 10px;
  margin-right: 10px;
}
hr{
    margin-top: 60px;
    margin-bottom: 20px;
}

.icon-shop{
    display:flex;
    /* margin-right: 50px; */
    text-decoration: none;
    list-style-type: none;
}

.icon-shop i{
    font-size: 19px;
}

/* search, logo, icons */

.row{
    display: grid;
   grid-template-columns: 25% 50% 25%;
   column-gap: 5px;
   /* position: sticky; */
   top:100px;
   background-color: rgb(165, 155, 155);
   /* z-index: 10;
   height: 14vh; */
}

/* .column1 img{
    width: 85%;
    height: 10vh;
} */
.logo{
  width: 20%;
  
  
  }
  .column1 img {
      display: block;
      margin-left: 50px;
      padding: 0;
      height:15vh;
      width: 70%;
      object-fit: contain;
  
  }

  /*........... side bar.......... */

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  text-align: center;
  z-index: 11;
  font-size: 13px;
  
  /* display: block; */
}



.sidebar ul{
  color: black;
  list-style: none;
 
}

.sidebar .dropdown-menu{
background-color: black;
}


/* .sidebar a {
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  display: block;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #555;
} */

.content {
  margin-left: 0;
  transition: 0.3s;
}

.navbar-side {
  background-color: #333;
  padding: 5px;
}

.hamburger {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.hamburger:hover {
  background-color: #555;
}

.column2{
   margin: 15px 0px;
    text-align: center;
    background-color: white;
    padding: 0px 0px;
    border-radius: 25px;
    height: 45%;
    
}
.column2 input[type=search] {
  width: 80%;
  margin-bottom: 12px;
  padding: 0px 0px 0px 15px;
  border: none;
  align-items: center;
 margin-top: 10px;
}

.column2 input{
    width: 80%;
    border-radius: 20px;
    border: none;
    align-items: center;
    outline: none;
}

.column2 input::-webkit-search-cancel-button {
  display: none;
}

.column2 i{
    font-size: 20px;
    margin-left: auto;
    
}

.column3{
    margin-top: 20px;
}

.cart-icon {
    display: flex;
    align-items: center; /* Vertically center the icon and price */
  }
  
  .cart-price {
    font-weight: bold;
    margin-left: 5px; /* Adjust the spacing as needed */
    color: green; /* You can set the desired color */
  }


  /* dropdown */
  /* 2nd navbar */
.navbar{
  /* top: 13px; */
    height:10vh;
   background-color: grey;
   margin-bottom: 20px;

}

  .navbar-nav{
    font-weight: bold;
    
  }

  .hidden-navbars {
    top: 0px;
    position: sticky;
    z-index: 12;
    display: none;
  }

  /* .navbar-nav a :hover{
    text-decoration: overline;
  } */

  /* swiper */
  .mySwiper{
    margin-left: 120px;
    margin-top: 20px;
    width: 80%;
   text-align: center;
   height: 40vh;
  }



/* swiper-for trending products */
#carouselExampleCaptions {
  /* top: 90px; */
  max-width: 80%; /* Adjust the max-width as needed */
  margin: 0 auto; /* Center the carousel horizontally */
}

.carousel-item {
  max-height: 70vh; /* Adjust the max-height to reduce the height */
}

.carousel-caption {
  background: rgba(51, 14, 214, 0.5); /* Add a semi-transparent background to captions */
  padding: 10px; /* Adjust the padding as needed */
  border-radius: 5px; /* Add rounded corners to captions */
  color: #fff; /* Set the text color */
}

/* .carousel-control-prev,
.carousel-control-next {
  background-color:blue; 
  border-radius: 5px; 
  width: 200px; 
} */




  /*  products top seller  */
  h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bolder;
  }

  .row2{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    column-gap: 5px;
    margin-right: 50px;
    margin-left: 30px;
    text-align: center;
 
  }
  .row2 .column{
    border: 1px solid grey;
    margin: 15px;
    border-radius:10px;
    background-color: whitesmoke;
  }
  /* .row2 .column:hover{
transform: scale(1.02);

border-radius: 5px;
  } */

  .row2 .column img{
    height: 40vh;
    width: 80%;
    object-fit: contain;
    background-color: none;
  
  }
.card-title{
  font-size:15px;
  font-weight:bold;
}
 

  /* prices */
 
  .price .old-price{
    text-decoration:line-through;
    color: grey;
  }

  .price .new-price{
    
    color: red;
    font-size: 15px;
    font-weight: bold;
  }

  /* buttons */
 
  .btn-cart{
    border-radius: 20px;
    width: 80%;
    height: 5vh;
    margin: 10px;
    color:white;
    background-color: rgb(55, 153, 55);
    border: none;
    font-weight: bold;
  }

  .btn-view{
    width: 60%;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
  }
   .row2 button:hover{
    background-color: rgb(56, 54, 54);
  }


  /* shop by league swiper */
  .swiper-container{
  margin: 20px;
  position: relative; 
  width: 80%;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  }

.swiper-wrapper{
/* background-color: aqua; */
left: 20px;
right: 20px;
width: 60%;

}
  .swiper-slide{
    /* background-color: bisque; */
    margin: 0px;
    left: 10px;
    width: 50%;
    padding-right: 40px;
   
  }
  .swiper-slide img{
    margin:10px;
    width: 100%;
    height:15vh ;
    object-fit: contain;

  }


   .swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  z-index: 10;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
} 

 .swiper-button-prev { 
  margin-right: 10px;
} 

.swiper-button-next {
  margin-left: 30px; 
} 







/* footer */
.row-footer{
    display: grid;
    grid-template-columns: 34% 33% 33%;
    grid-column-gap: 6px;
    margin: 50px;
    padding: 40px;
    background-color:whitesmoke;
    text-align: center;


}
 .column{
    
   
    font-size: 15px;
}

.column a{
    color: black;
}

.social-icons{
    margin-top:40px;
    margin-bottom: 50px;
    font-size: 27px;
}

.social-icons a{
    margin: 6px;
    color: grey;
}

.social-icons a :hover{
    color: rgb(223, 15, 15);
}